<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div style="text-align: left;" class="container"  >            
            The deep sea fishing application is used for booking fishing trips. Click <a href="../other/PDFViewer" th:href="@{/PDFViewer}">here</a> to view the Design Documentation.
        </div>
        <div style="text-align: left;" class="container"  >          
            This project is based on a sample application provided by Spring (PetClinic).  The structure is based on this 
            project.  
        </div>
        <div style="text-align: right;" class="container"  >            
            CIS2232 - 2015/2016
        </div>
        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
