<html>
    <head th:replace="fragments/headTag :: headTag"></head>
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
            <h2>Booking Signup</h2>
            <form action="addbooking" th:action="@{/addbooking}" method="post" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped formFix">
                        <tr>
                            <th>First Name</th>
                            <td><input name="firstName" th:value="${customer.firstName}" th:text="${customer.firstName}"/></td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td><input name="lastName" th:value="${customer.lastName}" th:text="${customer.lastName}"/></td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td><input name="phone" th:value="${customer.phone}" th:text="${customer.phone}"/></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><input name="email" th:value="${customer.email}" th:text="${customer.email}"/></td>
                        </tr>
                        <tr>
                            <th>Credit Card</th>
                            <td><input name="creditCard" th:value="${customer.creditCard}" th:text="${customer.creditCard}"/></td>
                        </tr>
                        <tr>
                            <th>Private Event?</th>
                            <td>
                                <select name="registrable">
                                    <option th:value="false">NO</option>
                                    <option th:value="true">YES</option>
                                </select>
                            </td>
                        </tr>
                        <tr style="white-space: pre-line;">
                            <th style="width: 50px;">Date Format: 
                                YYYY-MM-DD</th>
                            <td>EXAMPLE: 
                                2015-12-31</td>
                        </tr>
                        <tr>
                            <th>Date for Trip</th>
                            <td><input type="date" name="date"/></td>
                        </tr>
                        <tr>
                            <th>Choose a Time</th>
                            <td>
                                <select name="time">
                                    <option th:value="'08:00'">8:00 AM</option>
                                    <option th:value="'13:00'">1:00 PM</option>
                                    <option th:value="'18:00'">6:00 PM</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Number of Passengers</th>
                            <td>
                                <select name="numberOfPeople">
                                    <option th:value="1" th:text="1">1</option>
                                    <option th:value="2" th:text="2">2</option>
                                    <option th:value="3" th:text="3">3</option>
                                    <option th:value="4" th:text="4">4</option>
                                    <option th:value="5" th:text="5">5</option>
                                    <option th:value="6" th:text="6">6</option>
                                    <option th:value="7" th:text="7">7</option>
                                    <option th:value="8" th:text="8">8</option>
                                    <option th:value="9" th:text="9">9</option>
                                    <option th:value="10" th:text="10">10</option>
                                    <option th:value="11" th:text="11">11</option>
                                    <option th:value="12" th:text="12">12</option>
                                    <option th:value="13" th:text="13">13</option>
                                    <option th:value="14" th:text="14">14</option>
                                    <option th:value="15" th:text="15">15</option>
                                    <option th:value="16" th:text="16">16</option>
                                    <option th:value="17" th:text="17">17</option>
                                    <option th:value="18" th:text="18">18</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div style="all: inherit;padding: 10px;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Book</button>
                    </div>
                </fieldset>
            </form>
            <div class="container"><p th:text="${message}"></p></div>
            <div th:include="fragments/footer" th:remove="tag"></div>
        </div>
    </body>
</html>
