<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container" >            
            <h2>Customers</h2>
            <table class="table table-striped tableFix">
                <thead>
                    <tr>
                        <th style="width: 80px;">Last Name</th>
                        <th style="width: 80px;">First Name</th>
                        <th style="width: 150px;">Email</th>
                        <th style="width: 150px;">Credit Card</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customer : ${customers}">
                        <td th:text="${customer.firstName}"></td>
                        <td th:text="${customer.lastName}"></td>
                        <td th:text="${customer.email}"></td>
                        <td th:text="${customer.creditCard}"></td>
                    </tr>
                </tbody>
            </table>
            <div class="container"><p th:text="${message}"></p></div>
            <div>
                <div th:include="fragments/footer" th:remove="tag"></div>
            </div>
        </div>
    </body>
</html>