<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div style="text-align: left;" class="container"  >            
            <h2>An Error Occurred</h2>
            <h3>Oops, sorry about that. How about you try our <a href="../fishing/bookings" th:href="@{/bookings}">Bookings Page</a>.</h3>
        </div>
        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
