<html>
    <head th:replace="fragments/headTag :: headTag"></head>
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
            <h2>Login Page</h2>
            <form action="memberLogin" th:action="@{/memberLogin}" th:object="${login}" method="post" class="form-horizontal formFix">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Username (staff@deepseafishing.com)</th>
                            <td>
                                <input type="text" name="username" th:field="*{username}"/>
                                <ul th:if="${#fields.hasErrors('username')}">
                                    <li class="error" th:each="err : ${#fields.errors('username')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Password (123)</th>
                            <td>
                                <input type="password" name="password" th:field="*{password}"/>
                                <ul th:if="${#fields.hasErrors('password')}">
                                    <li class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <div style="all: inherit;padding: 10px;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Login</button>
                    </div>
                </fieldset>
            </form>
            <div class="container"><p th:text="${addMessage}"></p></div>
            <div class="container"><p th:text="${loginMessage}"></p></div>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
