        <div class="cisis" ><p class="text-right">CIS2232 Deep Sea Fishing 2015/2016</p>
<!--                    <img style="float:right" src="../../../resources/images/springsource-logo.png"
                         th:src="@{/resources/images/logoFooter.png}"
                         alt="Room Usage" />-->
        </div>
