<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container" >            
            <h2>Bookings</h2>
            <table class="table table-striped tableFix">
                <thead>
                    <tr>
                        <th style="width: 80px;">Date and Time</th>
                        <th style="width: 150px;">Number of People</th>
                        <th style="width: 150px;">Availability</th>
                        <th style="width: 150px;">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="booking : ${bookings}">
                        <td th:text="${booking.dateBooked}"></td>
                        <td th:text="${booking.numberOfPassengers}"></td>
                        <td th:if="${booking.numberOfPassengers} == null" th:text="Vacant"></td>
                        <td th:if="${booking.numberOfPassengers} &lt; 18" th:text="Open"></td>
                        <td th:if="${booking.numberOfPassengers} == 18" th:text="Occupied"></td>                        
                        <td th:if="${booking.numberOfPassengers} == null or ${booking.numberOfPassengers} &lt; 18 and ${booking.registrable} == true" class="buttonResize">
                            <p th:if="${userToken} == null">Call or sign up for an account to be able to register for this trip!</p>
                            <a th:if="${userToken} == 2 or ${userToken} == 1" th:href="@{/register(bookingId=${booking.bookingId})}"  style="text-decoration: none;">
                                <button class="btn btn-primary btn-lg" type="button">Register</button>
                            </a>
                        </td>
                        <td th:if="${booking.registrable} == false">
                            <p>Private Event</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="container"><p th:text="${message}"></p></div>
            <div>
                <div th:include="fragments/footer" th:remove="tag"></div>
            </div>
        </div>
    </body>
</html>