<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:switch="${session.adminLoggedIn}">
                <div th:case="true" th:include="fragments/bodyHeader" th:remove="tag">
                </div>
                <div th:case="false" th:include="fragments/indexHeader" th:remove="tag">
                </div>
            </div>
<!--            <div th:if="${request.getSession().getAttribute('adminLoggedIn').equals(true)}">
                <div th:include="fragments/bodyHeader" th:remove="tag">
                </div>
            </div>
            <div th:unless="${request.getSession().getAttribute('adminLoggedIn').equals(true)}">
                <div th:include="fragments/indexHeader" th:remove="tag">
                </div>
            </div>
            <c:choose>
                <c:when test= "${request.getSession().getAttribute('adminLoggedIn').equals(true)}">
                    <div th:include="fragments/bodyHeader" th:remove="tag">
                    </div>
                </c:when>
                <c:otherwise>
                    <div th:include="fragments/indexHeader" th:remove="tag">
                    </div>
                </c:otherwise>
            </c:choose>          -->
        </div>
        <div class="container" >            

            <div><h2>Welcome To Richards Deep Sea Fishing</h2>
                <h4>Here you can view the fishing times available for the next week.<br/> 
                    If you would like to book a trip for a time in advance please call our<br/>
                Information Office at (902) 672 FISH thats (902) 672 3474</h4></div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 80px;">Date</th>
                        <th style="width: 150px;">Morning Trip</th>
                        <th style="width: 150px;">Afternoon Trip</th>
                        <th style="width: 150px;">Evening Trip</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="Bookings : ${booking}">
                        <td th:text="${Bookings.date}"></td>
                        <td th:switch="${Bookings.time}">
                            <p th:case="'8'">Occupied</p>
                            <p th:case="*">Vacant</p>
                        </td>
                        <td th:switch="${Bookings.time}">
                            <p th:case="'1'">Occupied</p>
                            <p th:case="*">Vacant</p>
                        </td>
                        <td th:switch="${Bookings.time}">
                            <p th:case="'6'">Occupied</p>
                            <p th:case="*">Vacant</p>
                        </td>
                    </tr>
                </tbody>
            </table>    




            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>
