<!--
    Page Created By: Ben Bain
    Date: 12/16/2015
    Purpose: This page will be displayed to the 
    administration when booking a trip for a customer.
-->

<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container" >            
            <h2>New Booking</h2>
            <p>Enter Customer Information To Complete Booking</p>
            <!-- This form action information may need to be changed -->
            <form th:object="${booking}" action="addBooking.html" th:action="@{/fishing/addBooking}" method="get" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>First Name</th>
                            <td><input type="text" name="firstName" th:value="${booking.firstName}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td><input type="text" name="lastName" th:value="${booking.lastName}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Phone Number</th>
                            <td><input type="text" name="phone" th:value="${booking.phone}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>E-mail Address</th>
                            <td><input type="text" name="email" th:value="${booking.email}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Date of Trip</th>
                            <td><input type="text" name="date" placeholder="yyyy/mm/dd" th:value="${booking.date}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Time Of Trip</th>
                            <td>
                                <select name="time" th:value="${booking.time}">
                                    <option th:value="8">8:00 AM</option>
                                    <option th:value="1">1:00 PM</option>
                                    <option th:value="6">6:00 PM</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Credit Card Number -This will hold booking, payment occurs day of trip.-</th>
                            <td><input type="text" name="credit" th:value="${booking.credit}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Number of Passengers</th>
                            <td>
                                <select name="numberOfPassengers" th:value="${booking.numberOfPassengers}">
                                    <option th:value="1" th:text="1">1</option>
                                    <option th:value="2" th:text="2">2</option>
                                    <option th:value="3" th:text="3">3</option>
                                    <option th:value="4" th:text="4">4</option>
                                    <option th:value="5" th:text="5">5</option>
                                    <option th:value="6" th:text="6">6</option>
                                    <option th:value="7" th:text="7">7</option>
                                    <option th:value="8" th:text="8">8</option>
                                    <option th:value="9" th:text="9">9</option>
                                    <option th:value="10" th:text="10">10</option>
                                    <option th:value="11" th:text="11">11</option>
                                    <option th:value="12" th:text="12">12</option>
                                    <option th:value="13" th:text="13">13</option>
                                    <option th:value="14" th:text="14">14</option>
                                    <option th:value="15" th:text="15">15</option>
                                    <option th:value="16" th:text="16">16</option>
                                    <option th:value="17" th:text="18">18</option>
                                    <option th:value="18" th:text="17">17</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Add Booking</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>