<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head  th:replace="fragments/headTag :: headTag">
    </head>
    <style>
    .main_body{
    background: #262627;
    color:#fff !important;
    }
    td{
    color:#fff;
    }
    
    .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #2D2D2D;
}
    </style>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container main_body"  >            

            <div style="margin: 32px auto; text-align: center;">
	            <h2>Customer Report</h2>            
	            <span>As of </span>
	            <span th:utext="${#calendars.format(#calendars.createNow(), 'MMM, dd yyyy')}"></span>
            </div>
            <table class="table table-striped">
                <!-- <thead>
                    <tr>
                        <th style="width: 80px;">Serial</th>
                        <th style="width: 150px;">Name</th>
                        <th style="width: 150px;">Weight</th>
                    </tr>
                </thead> -->
                <tbody>
                    <tr>
                        <td th:text="Daily"></td>
                        <td><span th:text="${daily}"></span> People</td>
                    </tr>
                    
                    <tr>
                        <td th:text="Weekly"></td>
                        <td><span th:text="${weekly}"></span> People</td>
                    </tr>
                    
                    <tr>
                        <td th:text="Monthly"></td>
                        <td><span th:text="${monthly}"></span> People</td>
                    </tr>
                    
                    <tr>
                        <td th:text="Yearly"></td>
                        <td><span th:text="${yearly}"></span> People</td>
                    </tr>
                </tbody>
            </table>    




            <div>
               <!-- <div th:include="fragments/footer" th:remove="tag">
                </div> -->
            </div>


        </div>






    </body>

</html>
