<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <style>
        .main_body{
            background: #262627;
            color:#fff !important;
        }
        td{
            color:#fff;
        }

        .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
            background-color: #2D2D2D;
        }
    </style>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container" >            
            <div style="margin: 32px auto; text-align: center;">
                <h2>Financial Report</h2>            
                <span>As of </span>
                <span th:utext="${#calendars.format(#calendars.createNow(), 'MMM, dd yyyy')}"></span>
            </div>
            <table class="table table-striped tableFix">
                <thead>
                    <tr>
                        <th style="width: 80px;">Time Period</th>
                        <th style="width: 150px;">Gross Sales</th>
                        <th style="width: 150px;">Total Passengers</th>
                    </tr>
                </thead>
                <tbody style="background: black;">
                    <tr th:each="report : ${reports}">
                        <td th:text="${report.timePeriod}"></td>                        
                        <td th:text="${report.sales}"></td>
                        <td th:text="${report.totalPassengers}"></td>
                    </tr>
                </tbody>
            </table>
            <div class="container"><p th:text="${message}"></p></div>
            <div>
                <div th:include="fragments/footer" th:remove="tag"></div>
            </div>
        </div>
    </body>
</html>