<!DOCTYPE html>

<html lang="en">
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                     src="../../../resources/images/logoHeader.png" /><h1>Deep Sea Fishing: <small>&nbsp;Booking System</small></h1>
            </div>
            <div class="navbar-inner" >
                <ul  class="nav">
                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Resources
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" th:if="${userToken} == null or ${userToken} == 2">
                            <li><a href="../fishing/bookings.html" th:href="@{/bookings}"><i class="icon-th-list"></i>Bookings</a></li>                   
                        </ul>
                        <ul class="dropdown-menu" th:if="${userToken} == 1">
                            <li><a href="../fishing/bookings.html" th:href="@{/bookings}"><i class="icon-th-list"></i>Bookings</a></li>                   
                            <li><a href="../fishing/customers.html" th:href="@{/customers}"><i class="icon-th-list"></i>Customers</a></li>                   
                        </ul>
                    </li>
                </ul>
                <ul  class="nav">
                    <li class="dropdown" id="menuTools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuTools">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Tools
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" th:if="${userToken} == null">
                            <li><a href="../fishing/signup.html" th:href="@{/signup}"><i class="icon-th-list"></i>Create Account</a></li>
                            <li><a href="/" th:href="@{/}"><i class="icon-th-list"></i>Login</a></li>
                        </ul>
                        <ul class="dropdown-menu" th:if="${userToken} == 2">                     
                            <li><a href="../fishing/logout" th:href="@{/logout}"><i class="icon-th-list"></i>Logout</a></li> 
                        </ul>
                        <ul class="dropdown-menu" th:if="${userToken} == 1">  
                            <li><a href="../fishing/addBooking" th:href="@{/addBooking}"><i class="icon-th-list"></i>Add Booking</a></li> 
                            <li><a href="../fishing/reports/financialreport" th:href="@{/financialreport}"><i class="icon-th-list"></i>Financial Report</a></li> 
                            <li><a href="../fishing/logout" th:href="@{/logout}"><i class="icon-th-list"></i>Logout</a></li> 
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../other/help" th:href="@{/other/help}"><i class="icon-question-sign"></i>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="../other/about" th:href="@{/other/about}"><i class="icon-log-out"></i>About</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>