<html>
    <head th:replace="fragments/headTag :: headTag"></head>
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
            <h2>Account Signup</h2>
            <form action="accountsignup" th:action="@{/accountsignup}" method="post" class="form-horizontal">
                <fieldset>
                    <table class="table table-striped formFix">
                        <tr>
                            <th>First Name</th>
                            <td><input name="firstName" th:value="${customer.firstName}"/></td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td><input name="lastName" th:value="${customer.lastName}"/></td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td><input name="phone" th:value="${customer.phone}"/></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><input name="email" th:value="${customer.email}"/></td>
                        </tr>
                        <tr>
                            <th>Credit Card</th>
                            <td><input name="creditCard" th:value="${customer.creditCard}"/></td>
                        </tr>
                    </table>
                    <div style="all: inherit;padding: 10px;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Signup</button>
                    </div>
                </fieldset>
            </form>
            <div class="container"><p th:text="${message}"></p></div>
            <div th:include="fragments/footer" th:remove="tag"></div>
        </div>
    </body>
</html>
